body {
  -webkit-font-smoothing: initial !important;
  padding-top: 16px !important;
  background-color: var(--body-background);
  margin: 0;
  padding-top: 0 !important;
}

body, h1, h2, h3, h4, h5, h6, p, li {
  font-family: var(--font-family);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--darkblue) !important;
}


#quarto-header {
  display: none;
}

#quarto-document-content {
  a {
    text-decoration: none;
    opacity: 1.0 !important;
  }
}
